@use '@/shared/styles/variables.scss' as *;

.frameTag {
    display: flex;
    background-color: $BG-Dop;
    border-radius: $Border-Radius;
    border-width: $Border-Width;
    border-style: solid;
    border-color: $Seccond-Border;

    .link {
      padding: 16px;
    }
    span {
        padding: 16px;
    }
}

@media (max-width: 768px) {
  .frameTag {
    border-radius: 9px;
  }
}
@media (max-width: 580px) {
  .frameTag {
    border-radius: 5px;
  }
}