@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/main';

.container {
  display: grid;
  width: 1192px;
  height: 800px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  padding: 32px 48px;
  margin: 0 auto;
  max-width: $Container-Width;
  background-color: $BG-Dop;
  border-radius: $Border-Radius;
  border: 1.2px solid $Seccond-Border;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 48px;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    background-color: $BG-Dop;
    border-width: 1.2px;
    border-radius: $Border-Radius;
    border-style: solid;
    border-color: $Seccond-Border;

    .spanTitle {
      font-size: 24px;
    }
    .description {
      font-size: 16px;
      font-weight: 500;
    }

    .frame {
      display: flex;
      justify-content: center;
      align-items: start;
      padding-top: 6px;

      .frameTag {
        display: flex;
        background-color: $BG-Dop;
        border-radius: $Border-Radius;
        border-width: $Border-Width;
        border-style: solid;
        border-color: $Seccond-Border;

        .link {
          padding: 16px;
        }
        span {
          padding: 16px;
        }
      }
    }
  }
}