@use '@/shared/styles/variables.scss' as *;
@use '@/shared/styles/main';

.container {
  display: grid;
  width: 1192px;
  height: 800px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  padding: 32px 48px;
  margin: 0 auto;
  max-width: $Container-Width;
  background-color: $BG-Dop;
  border-radius: $Border-Radius;
  border: 1.2px solid $Seccond-Border;
}

@media (max-width: 768px) {
  .container {
    border-radius: 9px;
  }
}
@media (max-width: 580px) {
  .container {
    border-radius: 5px;
  }
}