@use '@/shared/styles/variables.scss' as *;

.frame {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .frame {
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .frame {
    gap: 8px;
  }
}
