@use '@/shared/styles/variables.scss' as *;

.tableSearchFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1.2px solid $Seccond-Border;
  border-radius: $Border-Radius;
  padding: 10px 8px;

  .tableSearchLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all $Transition-Duration $Transition-Mode;
  }

  .tableSearch {
    @include input;
    width: 80%;
    height: 55%;
  }

  .tableSearch:hover {
    border: 1.2px solid $Seccond-Hover;
  }

  .tableSearch:focus {
    outline: none;
    border: 1.2px solid $Seccond-Active;
  }
}

@media (max-width: 768px) {
  .tableSearchFrame {
    gap: 8px;
    padding: 8px 10px;
    border-radius: 9px;
  }
  .tableSearch {
    border-radius: 9px !important;
  }
}
@media (max-width: 580px) {
  .tableSearchFrame {
    gap: 4px;
    padding: 6px 8px;
    border-radius: 5px;
  }
  .tableSearch {
    border-radius: 5px !important;
  }
}
@media (max-width: 400px) {
  .tableSearch {
    border-radius: 5px !important;
  }
}