@use '@/shared/styles/variables.scss' as *;

.frameLabelInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  input {
    display: flex;
    width: 238px;
    height: 40px;
    box-sizing: border-box;
    background-color: $Seccond-Main;
    border-radius: $Border-Radius;
    border: 1.2px solid $Seccond-Border;
    padding: 12px 8px;
    transition: all $Transition-Duration $Transition-Mode;
  }

  input:hover {
    border: 1.2px solid $Seccond-Hover;
  }

  input:focus {
    outline: none;
    border: 1.2px solid $Seccond-Active;
  }
}

@media (max-width: 768px) {
  .frameLabelInput {
    gap: 8px;
  }
}
@media (max-width: 375px) {
  .frameLabelInput {
    gap: 4px;
  }
}

@media (max-width: 768px) {
  .frameLabelInput {
    input {
      border-radius: 9px;
    }
  }
}
@media (max-width: 375px) {
  .frameLabelInput {
    input {
      border-radius: 5px;
    }
  }
}

