@use '@/shared/styles/variables.scss' as *;

.itemDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  max-width: clamp(44px, 3.06vw, 24px);
  height: clamp(44px, 3.06vw, 24px);
  border-color: $Seccond-Border;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 1px;
  border-style: solid;

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .itemDelete {
    max-width: 36px;
    height: 36px;
  }
}
@media (max-width: 375px) {
  .itemDelete {
    padding: 4px;
    max-width: 24px;
    height: 24px;
  }
}