@use '@/shared/styles/variables.scss' as *;

.itemRename {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  max-width: 44px;
  height: 44px;
  border-color: $Seccond-Border;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: $Border-Width;
  border-style: solid;

  svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .itemRename {
    max-width: 36px;
    height: 36px;
  }
}
@media (max-width: 580px) {
  .itemRename {
    max-width: 24px;
    height: 24px;
    padding: 4px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}