@use '../shared/styles/main';
@use '../shared/styles/variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: $accent-Main;
}

html,
body {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body {
  @include Literata;

  background-color: $BG-Main;
  color: $Seccond-Dop-Text;
}

h1,
h2,
h3 {
  @include Literata;

  color: $Seccond-Main-Text;
}

h4,
h5,
h6,
a,
p,
span,
label,
input {
  @include Literata(500);

  color: $Seccond-Main-Text;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4, span, label, p, a, textarea, ::placeholder, :focus {
  font-size: 16px;
}
a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
p {
  overflow-wrap: anywhere;
}

::placeholder {
  @include Literata(500);

  color: $Seccond-Placeholder;
  width: clamp(14px, 0.97vw, 8px);
}

input {
  border: none;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: clamp(45px, 3.13vw, 24px);
  height: clamp(45px, 3.13vw, 24px);
  background-color: $BG-Dop;
  padding: 10px;
  border-radius: 3px;
  border: none;
  transition: all $Transition-Duration $Transition-Mode;
}

button:hover {
  background-color: $accent-Main;
}

button:active {
  background: #f28b24;
  background: linear-gradient(
    180deg,
    rgb(242 139 36 / 100%) 0%,
    rgb(191 110 29 / 100%) 100%
  );
}

@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4, span, label, p, a, textarea, ::placeholder, :focus {
    font-size: 12px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $BG-Dop;
    padding-top: 0px;
  }
}
@media (max-width: 580px) {
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 14px;
  }
  h4, span, label, p, a, textarea, ::placeholder, :focus {
    font-size: 6px;
  }
}