@use '@/shared/styles/variables.scss' as *;

.swiper-scrollbar {
  display: flex;
  margin-left: 5px;
  z-index: 100 !important;
  justify-content: center;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background-color: $Seccond-Border;
}

.swiper-scrollbar-drag {
  background-color: $accent-Main;
  padding: 2px;
  width: 3px;
  border-radius: 3px;
}