@use '@/shared/styles/variables.scss' as *;

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  padding: 12px 8px;
  overflow: hidden;
  border: 1.2px solid $Seccond-Border;
  border-radius: $Border-Radius;

  .isEmpty {
    position: absolute;
    left: 25%;
    top: 40%;
    color: $Seccond-Disabled;
    font-size: 38px;
    user-select: none;
  }
}

.swiperItem {
  height: auto;
}
