@use '@/shared/styles/variables.scss' as *;

.logo {
  position: absolute;
  right: 48px;
  top: 0;

  svg {
    max-width: 190px;
    height: 190px;
  }
}

@media (max-width: 768px) {
  .logo {
    right: 24px;
    svg {
      max-width: 145px;
      height: 145px;
    }
  }
}
@media (max-width: 375px) {
  .logo {
    right: 0;

    svg {
      max-width: 90px;
      height: 90px;
    }
  }
}
