@use '@/shared/styles/variables.scss' as *;

.table {
  display: grid;
  max-width: 100%;
  height: 535px;
  gap: 8px;
  background-color: $BG-Dop;
  padding: 12px 10px;
  border: 1.2px solid $Seccond-Border;
  border-radius: $Border-Radius;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 8fr;
  overflow: hidden;
}

@media (max-width: 768px) {
  .table {
    height: 100%;
    gap: 6px;
    padding: 12px 10px;
    grid-template-rows: 0.8fr 8fr;
    overflow: hidden;
    border-radius: 9px;
  }
}
@media (max-width: 580px) {
  .table {
    height: 100%;
    gap: 4px;
    padding: 0px 0px;
    grid-template-rows: 0.6fr 6fr;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    border: 1.2px solid transparent;
    border-radius: 5px;
  }
}