@use '@/shared/styles/variables.scss' as *;
.wrapperItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  max-width: 100%;
  padding-left: 8px;
  border: 1.2px solid $Seccond-Border;
  border-radius: 13px 3px 3px 13px;
  transition: all $Transition-Duration $Transition-Mode;
  user-select: none;
  
  &.isDisapearing {
    opacity: 0;
    transform: translateY(-75%);
    transition: 
      opacity calc($Transition-Duration * 2) $Transition-Mode,
      transform calc($Transition-Duration * 2) $Transition-Mode,
      margin calc($Transition-Duration * 2) $Transition-Mode $Transition-Duration,
      height calc($Transition-Duration * 2) $Transition-Mode $Transition-Duration;
    pointer-events: none;
    margin-top: -45px;
    margin-bottom: -8px;
    height: 0;


    & ~ .wrapperItem {
      translate: 0 calc((100% + 8px) * -1);
      transition-delay: $Transition-Duration;
      transition-duration: $Transition-Duration;
    }
  }
  
  span {
    display: flex;
    overflow: hidden scroll;
    width: 100%;
    height: auto;
  }
  
  input {
    width: 100%;
    background-color: transparent;
    border-radius: $Border-Radius;
    transition: all $Transition-Duration $Transition-Mode;
  }
  
  input:focus {
    outline: none;
  }
  
  .wrapperItemFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .wrapperItem {
    height: 36px;
    padding-left: 6px;
    border-radius: 9px 3px 3px 9px;
    input {
      border-radius: 9px;
    }
    .wrapperItemFrame {
      gap: 6px;
    };
  }
}
@media (max-width: 580px) {
  .wrapperItem {
    height: 24px;
    padding-left: 4px;
    border-radius: 5px 3px 3px 5px;
    input {
      border-radius: 5px;
    }
    .wrapperItemFrame {
      gap: 4px;
    };
  }
}