@use '@/shared/styles/variables.scss' as *;

.frameInput {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 8px;

  .frameAdd {
    display: flex;
    box-sizing: border-box;
    width: 60px;
    height: 45px;
  }

  .frameAdd:disabled {
    background-color: $Seccond-Disabled;
    cursor: not-allowed;
  }

  .frameError {
    position: absolute;
    bottom: -15px;
    left: 10px;
    color: $Seccond-Red;
  }
}

@media (max-width: 580px) {
  form {
    justify-content: center;
    align-items: center;

    .frameInput {
      gap: 4px;
    }
    .frameAdd {
      width: 35px !important;
      height: 25px !important;

      span {
        font-size: 10px;
      }
    }
    input {
      max-width: 144px;
      height: 24px !important;
    }
  }
}
