@use '@/shared/styles/variables.scss' as *;

section {
    textarea {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 100%;
        padding: 10px 8px;
        background-color: transparent;
        color: $Seccond-Main-Text;
        border-radius: 3px;
        resize: none;
        overflow: hidden;
        min-height: 40px;
        max-height: 985px;
        box-sizing: border-box;
        field-sizing: content;
        }
    textarea:focus {
        outline: none;
        border: 1.2px solid transparent;
    }

    p {
        min-width: 100%;
    }
}