@use '@/shared/styles/variables.scss' as *;

.main {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background-color: $BG-Dop;
  border-width: 1.2px;
  border-radius: $Border-Radius;
  border-style: solid;
  border-color: $Seccond-Border;

  .frame {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding-top: 6px;
  }
  .frameDescription {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px;

    .frameButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      padding: 8px;
    }
  }
}